@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.129 0.042 264.695);
  --color-card: oklch(1 0 0);
  --color-card-foreground: oklch(0.129 0.042 264.695);
  --color-popover: oklch(1 0 0);
  --color-popover-foreground: oklch(0.129 0.042 264.695);
  --color-primary: oklch(0.208 0.042 265.755);
  --color-primary-foreground: oklch(0.984 0.003 247.858);
  --color-secondary: oklch(0.968 0.007 247.896);
  --color-secondary-foreground: oklch(0.208 0.042 265.755);
  --color-muted: oklch(0.968 0.007 247.896);
  --color-muted-foreground: oklch(0.554 0.046 257.417);
  --color-accent: oklch(0.968 0.007 247.896);
  --color-accent-foreground: oklch(0.208 0.042 265.755);
  --color-destructive: oklch(0.637 0.237 25.331);
  --color-destructive-foreground: oklch(0.984 0.003 247.858);
  --color-border: oklch(0.929 0.013 255.506);
  --color-input: oklch(0.929 0.013 255.506);
  --color-ring: oklch(0.708 0.04 256.788);
  --color-chart-1: oklch(0.645 0.222 41.116);
  --color-chart-2: oklch(0.609 0.118 184.704);
  --color-chart-3: oklch(0.398 0.07 227.392);
  --color-chart-4: oklch(0.828 0.189 84.429);
  --color-chart-5: oklch(0.769 0.188 70.08);
  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);
}

.dark {
  --color-background: oklch(0.129 0.042 264.695);
  --color-foreground: oklch(0.984 0.003 247.858);
  --color-card: oklch(0.208 0.042 265.755);
  --color-card-foreground: oklch(0.984 0.003 247.858);
  --color-popover: oklch(0.208 0.042 265.755);
  --color-popover-foreground: oklch(0.984 0.003 247.858);
  --color-primary: oklch(0.984 0.003 247.858);
  --color-primary-foreground: oklch(0.208 0.042 265.755);
  --color-secondary: oklch(0.279 0.041 260.031);
  --color-secondary-foreground: oklch(0.984 0.003 247.858);
  --color-muted: oklch(0.279 0.041 260.031);
  --color-muted-foreground: oklch(0.708 0.04 256.788);
  --color-accent: oklch(0.279 0.041 260.031);
  --color-accent-foreground: oklch(0.984 0.003 247.858);
  --color-destructive: oklch(0.396 0.141 25.723);
  --color-destructive-foreground: oklch(0.984 0.003 247.858);
  --color-border: oklch(0.279 0.041 260.031);
  --color-input: oklch(0.279 0.041 260.031);
  --color-ring: oklch(0.446 0.043 257.281);
  --color-chart-1: oklch(0.488 0.243 264.376);
  --color-chart-2: oklch(0.696 0.17 162.48);
  --color-chart-3: oklch(0.769 0.188 70.08);
  --color-chart-4: oklch(0.627 0.265 303.9);
  --color-chart-5: oklch(0.645 0.222 41.116);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
